@using System.Web.Caching
@using UCommerce
@using UCommerce.Api
@using UCommerce.EntitiesV2
@model UCommerce.MasterClass.Website.Models.PurchaseOrderViewModel
@{
    Layout = "Layout.cshtml";
}

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Sku</th>
            <th>Product name</th>
            <th>Quantiy</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.OrderLines.Count; i++)
        {
            var line = Model.OrderLines[i];
            <tr>

                @Html.HiddenFor(model => model.OrderLines[i].Sku)
                @Html.HiddenFor(model => model.OrderLines[i].VariantSku)
                @Html.HiddenFor(model => model.OrderLines[i].OrderLineId)

                <td>@line.Sku - @line.VariantSku</td>
                <td>@line.ProductName</td>
                <td>@Html.TextBoxFor(model => model.OrderLines[i].Quantity)</td>
                <td>@line.Total</td>
                <td>
                    <button type="submit" value="@line.OrderLineId" name="RemoveOrderlineId">Remove</button>
                </td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="3">Sub total</td>
            <td>@Model.SubTotal</td>
        </tr>
        <tr>
            <td colspan="3">Tax total</td>
            <td>@Model.TaxTotal</td>
        </tr>
        <tr>
            <td colspan="3">Discounts: </td>
            <td>@Model.DiscountTotal</td>
        </tr>
        <tr>
            <td colspan="3">Shipping total</td>
            <td>@Model.ShippingTotal</td>
        </tr>
        <tr>
            <td colspan="3">Payment total</td>
            <td>@Model.PaymentTotal</td>
        </tr>
        <tr>
            <td colspan="3">Order total</td>
            <td>@Model.OrderTotal</td>
        </tr>
    </tfoot>
</table>

@using (Html.BeginForm("Post", "Preview", FormMethod.Post))
{
    <input type="submit" value="Submit Order"/>
}